

@media(max-width:450px){
    .card-description{
        flex-direction: row;
        align-items: center;
        gap: 20px;
    }

    .card{
        align-items: center;
        justify-content: space-around;
        background-color: #fff;
        border:2px solid #212529;
        width: 360px;
        margin-bottom: 22px;
        margin-left: 100px;
    }

    .card-value{
        margin-bottom: 12px;
        margin-left: 20px;
    }
}