.conteiner-list{
    margin-left: 90px;
}

.conteiner-list ul{
    list-style: none;
}

.menu-list{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.menu-list ul{
    display: flex;
    list-style: none;
    margin-left: 5%;
}

.menu-list ul li{
    box-sizing: border-box;
    margin: 8px 14px;
    font-size: 14px;
    color: #5B6166;
    font-weight: 600;
    background-color: #E9ECEF;
    padding: 12px;
    border-radius: 8px;
    cursor: pointer;
}

.menu-list ul li:hover{
    background-color:#FD377E ;
    color: #fff;
}

.menu-list h2{
    font-size: 16px;
    font-weight: 700;
    color: #212529;
    margin-top: 34px;
}

.main-list{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
}

.main-list ul{
    width: 98%;
    margin-right: 53px;
}


@media (max-width: 391px){
    .menu-list{
        flex-direction: column-reverse;
        align-items: center;
        justify-items: center;
    }
    .menu-list h2{
      margin-left: 70px;
      width: 100vw;
      font-size: 30px;
    }

    .menu-list ul li{
        box-sizing: border-box;
        margin: 10px 50px;
        font-size: 22px;
        padding: 12px;
 
    }

    .menu-list ul{
        margin: 20px auto;
    }

    .conteiner-list{
        margin: 0 auto
    }
}